<a href="https://colab.research.google.com/github/gkdl0112/pythonbasicclass/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set

# list     [] indexing/slicing    mutable(del,ins)   [1]
# tuple    () indexing/slicing    immutable          (1,)
# dict     {}   x (unrodered)     mutable(del,ins)   {'key':'value'}  
# set      {}   x (unrodered)     mutable(del,ins)   {1,2,3}

In [11]:
# 1
no = '31025'
a = no[0]  # indexing
b = no[1:3] # slicing
c = no[3:] # slicing
print(a ,'학년',b,'반',c,'번')
print(f'{a} 학년 {b} 반 {c} 번')  # f 스트링

3 학년 10 반 25 번
3 학년 10 반 25 번

In [15]:
# 2 
no = '서울2가1234' #10가 1234 , 288가 1234
no4 = no[-4:]
print(no,'의 차량번호 4자리는', no4,'입니다.')
print(f'{no} 의 차량번호 4자리는 {no4} 입니다.')

서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.

In [24]:
# 3
s = 'maple' #가운데 p출력
center = s[len(s) // 2]   # //= 나머지를 버리고 몫만 취한다  # len() 글자의 길이 
                       # % 몫은 버리고 나머지만 취한다 (홀/짝/배)
print(s,'의 가운데 글자는',center,'입니다')
print(f'{s} 의 가운데 글자는 {center} 입니다')

maple 의 가운데 글자는 p 입니다
maple 의 가운데 글자는 p 입니다

In [31]:
# 4
li1 = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째 요소 = ',li1[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 = ',li1[2:7][1])

3번째 요소부터 7번째 요소 =  [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 =  40

In [39]:
# 5 
dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [49]:
# \ 따음표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈 line feed
# \n 탭     tab

print('Hello \'World\'')
print("Hello 'World'")

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')
print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [58]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬', sep=',') # 구분자
print('재미있는','파이썬', sep='/')
print('재미있는','파이썬', sep=':')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [62]:
print('영화 타이타닉')
print('평점', end=' ') # end 줄 안바꾸고 옆으로 쓸때
print('5점')

영화 타이타닉
평점 5점

In [70]:
# % 연산자 (비추)

print('%d' % 10)    #%d 정수 10진수 자리표시자
print('%o' % 10)    #%o 정수 8진수 자리표시자
print('%x' % 10)    #%x 정수 8진수 자리표시자

print('%f' % 3.14)
print('%s' % 'python')

print('%s' % 10)    #%d 정수 10진수 자리표시자
print('%s' % 3.14)
print('%s' % 'python')

10
12
a
3.140000
python
10
3.14
python

In [74]:
print('%d' % 1) 
print('%5d' % 1)  # 다섯칸을 확보하고 오른쪽에 출력
print('%5d' % 11) # 다섯칸을 확보하고 오른쪽부터 출력

1
    1
   11

In [75]:
print('%-5d' % 1)  # 다섯칸을 확보하고 왼쪽에 출력
print('%-05d' % 11) # 다섯칸을 확보하고 왼쪽부터 출력

1
11

In [79]:
print('%5f' % 3.14) 
print('%5.2f' % 3.14)  # 다섯칸을 확보하고 소수 2자리까지 오른쪽에 실수출력
print('%5d' % 11) # 다섯칸을 확보하고 오른쪽부터 출력

3.140000
 3.14
   11

In [81]:
print('%-5.2f' % 3.14)  # 다섯칸을 확보하고 소수 2자리까지 왼쪽에 실수출력
print('%-5.1f' % 3.14)  # 다섯칸을 확보하고 소수 1자리까지 왼쪽에 실수출력

3.14
3.1

In [83]:
print('%-.2f' % 3.14)  # 소수 2자리까지 왼쪽에 실수출력
print('%-.1f' % 3.14)  # 소수 1자리까지 왼쪽에 실수출력

3.14
3.1

In [85]:
print('%s' % 3.14)

3.14

In [89]:
# 기본 출력 방법
a = '학생'
print(a,'입니다.')

# f string 출력 방법
print(f'{a} 입니다.')

# % 연산자 출력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다.'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [90]:
# format() 매서드
print('My name is {}'.format('James'))

My name is James

In [91]:
print('My name is {0}'.format('James'))

My name is James

In [92]:
print('My name is {name}'.format(name='James'))

My name is James

In [96]:
# f-strings 

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [97]:
age = 25
print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.

In [98]:
# 표준입력

a = input()
print(a)

asd
asd

In [100]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 23
23

In [103]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요 >>>')
print('입련된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}살입니다')

이름을 입력하세요>>>홍길동
나이를 입력하세요 >>>30
입련된 이름은 홍길동입니다.

In [106]:
name = input('이름을 입력하세요 >>>')
age = input ('나이를 입력하세요 >>>')

print('입력된 이름은 {}입니다'.format(name))
print('입력된 나이는 {}입니다'.format(age))

이름을 입력하세요 >>>홍길동
나이를 입력하세요 >>>20
입력된 이름은 홍길동입니다
입력된 나이는 20입니다

In [111]:
name = input('이름을 입력하세요 >>> ')
age = input('나이를 입력하세요 >>> ')

print('입력된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}입니다.'.format(age))

print('입력된 이름은 %s입니다.' % name)
print('입력된 나이는 %s입니다.' % age)

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}입니다.')

print('입력된 이름은',name,'입니다.')
print('입력된 나이는',age, '입니다.')

이름을 입력하세요 >>> 홍길동
나이를 입력하세요 >>> 20
입력된 이름은 홍길동입니다.
입력된 나이는 20입니다.
입력된 이름은 홍길동입니다.
입력된 나이는 20입니다.
입력된 이름은 홍길동입니다.
입력된 나이는 20입니다.
입력된 이름은 홍길동 입니다.
입력된 나이는 20 입니다.