<a href="https://colab.research.google.com/github/gkdl0112/pythonbasicclass/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 기본 자료형 (page 33)

# int 정수 1,2,3,4
# float 실수 3.14, 2.18
# bool 논리 True, False
# str 문자열어 '홍길동','슈가'

In [3]:
# 1. 정수 int

int(1.9)

1

In [4]:
int(True)

1

In [5]:
int(False)

0

In [7]:
int('100')  # int 중요
int('200')
# 큰 따음표 또는 작음 따음표 안에 있는 숫자는 숫자처럼 보이지만 문자다.
# int() 괄호안에 숫자 처럼 보이는 문자를 넣어주면 진짜 숫자로 변환된다.

200

In [8]:
# 2. 실수 float
float(1)

1.0

In [9]:
float(True)

1.0

In [10]:
float(False)

0.0

In [11]:
float('3.14')

3.14

In [12]:
input('숫자를 입력하세요>>>') # input 은 모든 입력을 문자로만 받는다.

숫자를 입력하세요>>>123

'123'

In [13]:
int(input('숫자를 입력하세요>>>'))

숫자를 입력하세요>>>123

123

In [14]:
# 논리 bool , boolean True or False

bool(0)

False

In [15]:
bool(1)

True

In [21]:
bool('') # '' 안에 뭐라도 있으면 True

False

In [17]:
bool('1')

True

In [20]:
bool([1,2,3])

True

In [24]:
# 4. 문자열 str, string

a = '한국' 
b = "한국" 

a = '대한\n민국'
print(a)

a = '''대한
민국'''
b = """대한
민국"""

print(a)

대한
민국
대한
민국

In [25]:
str(100) # '가 붙으면 무조건 문자

'100'

In [26]:
str(True)

'True'

In [27]:
str(False)

'False'

In [28]:
str(3.14)

'3.14'

In [30]:
# 문자열 인덱싱 (indexing) 
# 인덱싱은 문자열을 구성하는 모든 문자에 부여한 고유의 변호이다.
# 컴퓨터는 0부터 시작 (1부터 시작x)

s = 'hello' # h=0
print(s[0]) # 인덱스의 시작은 0이다.
# h e l l o
# 0 1 2 3 4  각 문자의 인덱스 번호

h

In [32]:
# h e l l o
#        -1
s = 'hello'
print(s[-1])

o

In [ ]:
# h e l l o
# -5 -4 -3 -2 -1

In [33]:
# 문자열 스라이싱 slicing
# 문자열의 인덱스를 사용하여 한문자 이상으로 구성된 단어나 문장을 추출

s = 'banana'
s[0:3] # [start:stop] # stop 은 까지가 아닌 미만으로 계산한다.

'ban'

In [35]:
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])

강남구

In [ ]:
# 04 컬렉션 collection
# '여러 값을 하나의 이름으로 묶어서 관리하는 자료형'
# 리스트(list) 튜플(tuple) 딕셔너리(dict) 셋(set)

In [ ]:
# 리스트 list
# 리스트는 여러 값을 저장할 때 가장 많이 사용되는 자료형이다.
# 특징
# 1. 대괄호로 생성한다. []
# 2. 여러가지 자료형을 하나의 리스트로 생설할 수 있다. (장점이라 하기에는 애매함.)
# 3. mutable 한 속성을 갖는다. (mutable=수정,삭제가 가능하다.)
# 4. indexing , slicing 이 가능하다.

In [36]:
list1 = [1,2,3,4]
list2 = [1,2,3,'대','한',True]

In [40]:
li = [100,3.14,'hello']

li[2]

'hello'

In [41]:
li[0:2] #[start:stop(미만)]

[100, 3.14]

In [ ]:
# 인덱싱과 슬라이싱은 리스트 튜플만 가능

In [46]:
# append() - 리스트에 데이터를 추가 * 더 많이 쓰임
scores = [50,40,30]
scores.append(100) # 값을 추가할때 사용하는 ()
scores

socores2 = (50,40,30) # 튜플을 만들때는 () 소괄호를 사용한다.

In [49]:
# insert() - 리스트에 데이를 추가
scores.insert(0,90) # 특정위치에 데이터를 추가 (0번 위치에 90을 추가)
scores

[90, 50, 40, 30, 100]

In [51]:
# pop() - 리스트에서 데이터 삭제
scores =[50,40,30]
scores.pop() # pop() 생략하면 마지막 값을 삭제
scores

[50, 40]

In [52]:
scores.pop(0)
scores

[40]

In [57]:
# 튜플 tuple 
# 저장된 값을 변경 및 삭제 할 수 없는 리스트
# 특징
# 1. 소괄호로 생성한다. () 튜플은 괄호 생략 가능
# 2. 여러가지 자료형을 하나의 튜플로 생설할 수 있다. (장점이라 하기에는 애매함.)
# 3. immutable 한 속성을 갖는다. (immutable=수정,삭제가 불가능하다.)
# 4. indexing , slicing 이 가능하다.
# 5. 1개의 원소를 갖는 튜플을 생성할때는 , 쉼표를 붙인다.

tu = (1,)
print(tu)
print(type(tu))

(1,)
<class 'tuple'>

In [59]:
tu = 1,2,3,4,5    # 괄호 생략 가능
type(tu)

tuple

In [61]:
# tu - append , pop 사용 불가능

In [63]:
tu = 1,2,3,4,5
tu[0]

1

In [65]:
tu[0:3]

(1, 2, 3)

In [68]:
# 셋 set

# 특징
# 1. 중괄호로 생성한다. {} 
# 2. 여러가지 자료형을 하나의 셋으로 생설할 수 있다. (장점이라 하기에는 애매함.)
# 3. mutable 한 속성을 갖는다. (mutable=수정,삭제가 가능하다.)
# 4. indexing , slicing 이 불가능하다. 즉 , 순서가 없다.
# 5. 중복된 (동일한) 데이터를 함께 저장할 수 없다. ( 중복 불가능)
set = {1,1,1,2,2,3}
set

{1, 2, 3}

In [69]:
set.add(4)  #add=추가
set

{1, 2, 3, 4}

In [70]:
set.remove(3) #remove=삭제
set

{1, 2, 4}

In [71]:
# dict 딕셔너리 키값과 밸류값의 쌍으로 데이터를 저장하는 자료형
# 자바에서의 map, JS 에서의 json 과 유사한 파이썬의 자료형

# 특징
# 1. 중괄호로 생성한다. {} 
# 2. 여러가지 자료형을 하나의 딕셔너리으로 생설할 수 있다. (장점이라 하기에는 애매함.)
# 3. mutable 한 속성을 갖는다. (mutable=수정,삭제가 가능하다.)
# 4. indexing , slicing 이 불가능하다. 즉 , 순서가 없다.
# 5. 키와 밸류로 구성한다.

dict = {'name':'홍길동','age':24}

d = {'a':'apple','b':'banana'}
d['a'] # 키값으로 밸류값을 꺼낸다.

'apple'

In [72]:
d['c'] = 'cherry' # 추가
d

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [73]:
d['c'] = '체리' # 수정
d

{'a': 'apple', 'b': 'banana', 'c': '체리'}

In [74]:
d.pop('c') # 삭제
d

{'a': 'apple', 'b': 'banana'}

In [75]:
# mutable = 리스트 셋 딕셔너리
# immutable : 튜플 정수(int) 실수(float) 문자열(str)

me = [1,2,3]
id(me) # 실제 데이터가 저장된 메모리 위치

139845058195536

In [76]:
me.append(4)
id(me) # 메모리의 실제 주소가 바뀌지 않았다.

139845058195536

In [79]:
# immutable
me = 10
id(me)

94026061134624

In [80]:
me += 1 # me = me +1  (java me++)
id(me) # 메모리의 주소가 바뀐것을 확인할 수 있다.

94026061134656